<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="new.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container_all">

   <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"  style="width: 50px;height: 50px;border-radius: 50%;background-color: white;display: flex;justify-content: center;align-items: center; border: none;box-shadow: 0 4px 4px 0;  ">
        <img src="./static/iSULogo.png" width="40px"/>
      </a>
    </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbarMenu">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="">Ana Səhifə</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" style="font-size: 20px;">Haqqımızda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" style="font-size: 20px;">Məhsullar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" style="font-size: 20px;">Xidmətlər</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" style="font-size: 20px;">Qalereya</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" style="font-size: 20px;">Əlaqə</a>
          </li>
        </ul>
      </div>
     
        <!-- <div class="dropdown">
          <a class="btn btn-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="" width="40px"/>
  
          </a>
        
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">Sifariş tarixçəsi</a></li>
            <li><a class="dropdown-item" href="{% url 'profile' user.username %}">Hesab məlumatları</a></li>
            <li><a class="dropdown-item" href="{% url 'exit' %}">Çıxış et</a></li>
          </ul>
        </div> -->
        
        <!-- <form class="d-flex " role="search">
          <a class="btn  me-5 loginBtn" href="">Daxil ol</a>
          <a class="btn  me-5 signupBtn" href="">Qeydiyyat</a>
        </form> -->
        
  
      
   
  </nav>
   <!-- NAVBAR FINISH -->



  <center>
    <h1>Məhsullar</h1>
    <hr>
  </center>




 
  </div>
  <div class="main-footer">
    <div class="footer-items">
      <div class="footer-item">
        <strong>Xidmətlər</strong>
        <a href="">Sifariş et</a>
        <a href="">Online Kuryer Sifarişi</a>
        <a href="">Online Poçt sifarişi</a>
        <a href="">Operativ müştəri xidmətləri</a>
      </div>
      <div class="footer-item">
        <strong>Bizi sosial mediada izləyin</strong>
        <a href="">Facebook</a>
        <a href="">Instagram</a>
        <a href="">Linkedin</a>
        <a href="">Youtube</a>
      </div>
      <div class="footer-item">
        <strong>Mobil tətbiqi yükləyin</strong>
        <a href="#">
          <img src="./static/Badge.png" alt="" srcset=""
        </a>
        <a href="#">
          <img src="./static/Badge (1).png" alt="" srcset=""
        </a>
      </div>
    </div>
  </div>
</body>
</html>