<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="product.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- WRAPPED ALL CONTENTS INTO ONE CONTAINER -->
<div class="container_all">


<!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"  style="width: 50px;height: 50px;border-radius: 50%;background-color: white;display: flex;justify-content: center;align-items: center; border: none;box-shadow: 0 4px 4px 0;  ">
        <img src="./static/iSULogo.png" width="40px"/>
      </a>
    </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbarMenu">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="">Ana Səhifə</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" style="font-size: 20px;">Haqqımızda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" style="font-size: 20px;">Məhsullar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" style="font-size: 20px;">Xidmətlər</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" style="font-size: 20px;">Qalereya</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" style="font-size: 20px;">Əlaqə</a>
          </li>
        </ul>
      </div>
     
        <!-- <div class="dropdown">
          <a class="btn btn-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="" width="40px"/>
  
          </a>
        
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">Sifariş tarixçəsi</a></li>
            <li><a class="dropdown-item" href="{% url 'profile' user.username %}">Hesab məlumatları</a></li>
            <li><a class="dropdown-item" href="{% url 'exit' %}">Çıxış et</a></li>
          </ul>
        </div> -->
        
        <!-- <form class="d-flex " role="search">
          <a class="btn  me-5 loginBtn" href="">Daxil ol</a>
          <a class="btn  me-5 signupBtn" href="">Qeydiyyat</a>
        </form> -->
        
  
      
   
  </nav>
   <!-- NAVBAR FINISH -->



  <center>
    <h1>Məhsullar</h1>
    <hr>
  </center>

  

  <div class="all-products">
   <div class="category">
    <h3>Kateqoriyalar</h3>
    <div class="menu">
      <h1>Bütün kateqoriyalar</h1>
      <hr>
      <ul>
        <li><a class="a1" href="#">Premium</a></li>
        <li><a class="a2" href="#">Qazli</a></li>
        <li><a class="a3 active_a" href="#">Qazsiz</a></li>
        <li><a class="a4" href="#">Bidon</a></li>
        <li><a class="a5" href="#">Vintaj</a></li>
      </ul>
    </div>
   </div>
   <div class="product">

    <div class="item">
      <div class="upper">
        <p class="price">15$</p>
        <!-- <div class="bottle">
          <img src="./static/iSULogo.png">
        </div> -->
      </div>
      <div class="text">
        <h4>
          Qazsız, 0.33 L
        </h4>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        </p>
      </div>
    </div>
  
    <div class="item">
      <div class="upper">
        <p class="price">15$</p>
        <!-- <div class="bottle">
          <img src="./static/iSULogo.png">
        </div> -->
      </div>
      <div class="text">
        <h4>
          Qazsız, 0.33 L
        </h4>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        </p>
      </div>
    </div>
    <div class="item">
      <div class="upper">
        <p class="price">15$</p>
        <!-- <div class="bottle">
          <img src="./static/iSULogo.png">
        </div> -->
      </div>
      <div class="text">
        <h4>
          Qazsız, 0.33 L
        </h4>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        </p>
      </div>
    </div>
    <div class="item">
      <div class="upper">
        <p class="price">15$</p>
        <!-- <div class="bottle">
          <img src="./static/iSULogo.png">
        </div> -->
      </div>
      <div class="text">
        <h4>
          Qazsız, 0.33 L
        </h4>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        </p>
      </div>
    </div>
    <div class="item">

      <div class="upper">
        <p class="price">15$</p>
        <!-- <div class="bottle">
          <img src="./static/iSULogo.png">
        </div> -->
      </div>

      <div class="text">
        <h4>
          Qazsız, 0.33 L
        </h4>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        </p>
      </div>
    </div>
    <div class="item">
      <div class="upper">
        <p class="price">15$</p>
        <!-- <div class="bottle">
          <img src="./static/iSULogo.png">
        </div> -->
      </div>
      <div class="text">
        <h4>
          Qazsız, 0.33 L
        </h4>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        </p>
      </div>
    </div>


   </div>
  </div>











</div>
<!-- CONTAINER FINISH -->
















<!-- FOOTER -->

<div class="main-footer">
  <div class="footer-items">
    <div class="footer-item">
      <strong>Xidmətlər</strong>
      <a href="">Sifariş et</a>
      <a href="">Online Kuryer Sifarişi</a>
      <a href="">Online Poçt sifarişi</a>
      <a href="">Operativ müştəri xidmətləri</a>
    </div>
    <div class="footer-item">
      <strong>Bizi sosial mediada izləyin</strong>
      <a href="">Facebook</a>
      <a href="">Instagram</a>
      <a href="">Linkedin</a>
      <a href="">Youtube</a>
    </div>
    <div class="footer-item">
      <strong>Mobil tətbiqi yükləyin</strong>
      <a href="#">
        <img src="./static/Badge.png" alt="" srcset=""
      </a>
      <a href="#">
        <img src="./static/Badge (1).png" alt="" srcset=""
      </a>
    </div>
  </div>
</div>
<!-- FOOTER FINISH -->



</body>
<script src="product.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>